block append content
       div#charts(style='display: block; height: 700px;')
          table(cellspacing=0,cellpadding=0)
            tr
              td(width="90%")
                  #chart.chart(style="width: 900px; height: 180px;")
                  #chart2.chart(style="width: 900px; height: 180px;")
                  #chart3.chart(style="width: 900px; height: 180px;")
                  each obj in chartvectors
                     div(style ='position: absolute; top: 217px; left: #{obj.left}px; z-index: 2')
                        img(src='/images/wb-#{obj.direction}.png' height='25px' width= '25px')
               td(width="10%",style='vertical-align: top;')
          script.
            var chartoptions = !{data}
            var chart = echarts.init(document.getElementById('chart'));
            chart.setOption(chartoptions);
            chartoptions = !{data2}
            var chart2 = echarts.init(document.getElementById('chart2'));
            chart2.setOption(chartoptions);        
            chartoptions = !{data3}
            var chart3 = echarts.init(document.getElementById('chart3'));
            chart3.setOption(chartoptions);    
