extends layout
block append content
   - offset = 100
   if (rainStormStart.length > 0)
      - offset = 50
   body()
     script(type='text/javascript')
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       |    setInterval("refreshWindBlock();",2500);
       |    setInterval("refreshConditionsBlock();",30000);
       |    setInterval("refreshTiles();",30000);
       if(skyconditions > 4 && day)
          |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(day)
          |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#000000');
       else
          |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       |  }
       |  function refreshWindBlock()
       |  {
       |     $('#wind').load("./livewind");
       |  }
       |  function refreshConditionsBlock()
       |  {
       |     $('#conditions').load("./liveconditions");
       |  }
       |  function refreshTiles()
       |  {
       |     $('#floatingtiles').load("./tileconditions");
       |  }
     div#wind(style='display: block; height: 700px; background-image: url("/images/compassrose.png"); background-repeat: no-repeat;')
       if (directionObj[0].left > 0 && directionObj[0].top > 0)
         img.compasspointer(src='./images/compasspointer.png' style='left:#{directionObj[0].left}px;top:#{directionObj[0].top}px;transform: rotate(#{directionObj[0].rotation}deg);z-index: 5;')
       - x = 1
       while x < 5
          if (directionObj[x].left > 0 && directionObj[x].top > 0) && !(directionObj[x].left == directionObj[0].left && directionObj[x].top == directionObj[0].top) 
             img.compasspointer(src='./images/compasspointer-sm.png' style='left:#{directionObj[x].left}px;top:#{directionObj[x].top}px;transform: rotate(#{directionObj[x].rotation}deg); z-index: 1;')
          - x++   
       div
         table(cellspacing=0,cellpadding=0,style='width:500px; position: absolute; top: 500px; ')
           tr
             td.big.fontcolor(style='text-align: center;margin-left: 165px;')
                |WIND SPEED
           tr               
             td.bigger.fontcolor(style='text-align: center;margin-left: 150px;')
                |#{speed} MPH #{directionObj[0].heading}         
           tr               
             td.small.fontcolor(style='text-align: center;margin-left: 150px;')
                |CURRENT
     div.vertical(style='position: absolute;left: 500px;top: 40px;')
     div#conditions(style='position: absolute;left: 530px;top: 0px;width: 400px')
        table(cellpadding=0,cellspacing=0,style='position: absolute;left: 0px;top: #{offset}px;')
          tr
            td.big.fontcolor(height=26)
               |WIND GUST:
            td.big.fontcolor(height=26)
               | #{gustSpeed} MPH #{gustDirection}
          tr
            td.big.fontcolor(height=26)
               |WIND SPEED:<span style='display: inline-block; width: 23px'></span>
            td.big.fontcolor(height=26)
               | #{avgSpeed} MPH #{avgDirection}
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |10 minute average
          tr
            td(height=30)
          tr
            td.big.fontcolor(height=26)
              |INSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.big.fontcolor
                    | #{inTemp}&deg<span style='font-size: 18px'>F</span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.big.fontcolor
                    | #{inHum}<span style='font-size: 18px'>%</span>   
          tr
            td.big.fontcolor(height=26)
              |OUTSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.big.fontcolor
                    if (outTempTrend == 0)
                      | #{outTemp}&deg<span style='font-size: 18px'>F</span>
                    else if (outTempTrend) > 0
                      | #{outTemp}&deg<img src='images/warming-sm.png'>
                    else
                      | #{outTemp}&deg<img src='images/cooling-sm.png'>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.big.fontcolor
                    | #{outHum}<span style='font-size: 18px'>%</span>   
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |Temperature, Humidity
          tr
            td(height=30)
          tr
            td.big.fontcolor(height=26)
              |DEWPOINT:
            td.big.fontcolor
              | #{outDewPt}&deg  
          tr
            td.big.fontcolor(height=26)
              |WIND CHILL:
            td.big.fontcolor
              | #{outWindChill}&deg   
          tr
            td.big.fontcolor(height=26)
              |HEAT INDEX:
            td.big.fontcolor
              | #{outHeatIdx}&deg   
          tr
            td.big.fontcolor(height=26)
              |BAROMETER:
            td.big.fontcolor
              | #{inBarometer}" <span style='font-size: 18px'> (#{inBarometerTrend})</span> 
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |Current Conditions
          tr
            td(height=30)
          if (rainStormStart.length > 0)
             tr
               td.big.fontcolor(height=26)
                 |START:
               td.big.fontcolor
                 | #{rainStormStart}  
             tr
               td.big.fontcolor(height=26)
                 |RATE:
               td.big.fontcolor
                 | #{rainStormRate}"<span style='font-size: 18px'>/hr</span>  
             tr
               td.big.fontcolor(height=26)
                 |TOTAL:
               td.big.fontcolor
                 | #{rainStormAmt}"   
             tr
               td.small.fontcolor(colspan=2,style='text-align: center;')
                 |Rain Storm
          tr
            td(height=30)
     div#floatingtiles
       div.floatingsuntile
        table(cellspacing = 0,cellpadding=0, style='width: 150px')
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smallerbold.fontcolorblack
                |Sunrise/Sunset
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorblack
                |#{moment(sunrise).format('h:mm a')} 
          tr
           td(height=70)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorblack
                |#{moment(sunset).format('h:mm a')}
       div.floatingmoontile(style='	background: black url("/images/moon#{moonsize}.gif") no-repeat center 40px;background-size: 50%;')
        table(cellspacing = 0,cellpadding=0, style='width: 150px')
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smallerbold.fontcolorwhite
                |Moon Phase
          tr
           td(height=100)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorwhite
                if (moonsize == 0)
                   |New Moon
                else if (moonsize == 1)
                   |Waxing Crescent
                else if (moonsize == 2)
                   |First Quarter
                else if (moonsize == 3)
                   |Waxing Gibbous
                else if (moonsize == 4)
                   |Full Moon
                else if (moonsize == 5)
                   |Waning Gibbous
                else if (moonsize == 6)
                   |Third Quarter
                else if (moonsize == 7)
                   |Waning Crescent
                else
                   |New Moon
       if (skyconditions < 5)
          div.floatingweathertile(style='background: url("/images/DayIcons/skyconditions#{skyconditions}.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #ffffff;')
           table(cellspacing = 0,cellpadding=0, style='width: 150px')
             tr
              td(height=6)
             tr
              td(style='text-align: center')
                span.smallerbold.fontcolorblack
                   |Current Weather
             tr
              td(height=100)
             tr
              td(style='text-align: center')
                span.smaller.fontcolorblack
                   if (skyconditions == 1)
                      |Clear
                   else if (skyconditions == 2)
                      |Mostly Clear
                   else if (skyconditions == 3)
                      |Partly Cloudy
                   else if (skyconditions == 4)
                      |Mostly Cloudy
       else
          div.floatingweathertile(style='background: url("/images/DayIcons/skyconditions#{skyconditions}.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #b3b3b3;')
           table(cellspacing = 0,cellpadding=0, style='width: 150px')
             tr
              td(height=6)
             tr
              td(style='text-align: center')
                span.smallerbold.fontcolorblack
                   |Current Weather
             tr
              td(height=100)
             tr
              td(style='text-align: center')
                span.smaller.fontcolorblack
                   if (skyconditions == 5)
                      |Overcast
                   else if (skyconditions == 6)
                      |Raining
                   else if (skyconditions == 7)
                      |Snowing
                   else if (skyconditions == 8)
                      |Thunder Storms
