extends layout
block append content
   - speedunit = "MPH"
   - tempunit = "F"
   - pressureunit = '"'
   - rainunit = '"'
   if (observationUnits.metricSpeed)
      - speedunit = "km/h"
   if (observationUnits.metricTemp)
      - tempunit = "C"
   if (observationUnits.metricPressure)
      - pressureunit = "mb"
   if (observationUnits.metricRain)
      - rainunit = "mm"
   - offset = 100
   if (rainStormStart.length > 0)
      - offset = 50
   body()
     script(type='text/javascript')
       |  var timeactive = 0;
       |  var detailactive = 0;
       |  var weathertile = 0
       |  var handle, handle2, handle3;
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       |    setTimeout(function(){$('#response').hide();}, 5*1000);
       |    setInterval("refreshWindBlock();",2.5*1000);
       |    setInterval("refreshConditionsBlock();",30*1000);
       |    setInterval("refreshTiles();",60*1000);
       |    setInterval("refreshSunTile();",1*1000);
       if(((skyconditions[0].skyconditions > 4 && day) || (day && rainStormRate > 0)) && changebackgroundto != 1)
          |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(((skyconditions[0].skyconditions > 4 && !day) || (!day && rainStormRate > 0)) && changebackgroundto != 2)
          |$('body').css('background', 'url("/images/cloudynightbackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(day && changebackgroundto != 3)
          |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#000000');
       else if (changebackgroundto != 4)
          |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       |  }
       |  function refreshWindBlock()
       |  {
       |     $('#wind').load("./livewind");
       |  }
       |  function refreshConditionsBlock()
       |  {
       |     $('#conditions').load("./liveconditions");
       |  }
       |  function refreshSunTile()
       |  {
       |     $('#suntile').load("./refreshsuntile");
       |  }
       |  function refreshTiles()
       |  {
       |     $('#floatingtiles').load("./tileconditions");
       |  }
       |  function getURL(){
       |     var url = location.href;
       |     var idx = url.indexOf('?')
       |     if (idx !== -1)
       |        url = url.substring(0,idx);
       |     idx = url.lastIndexOf('/');
       |     url = url.substring(0,idx);
       |     return url;
       |  }
       |  function radar(){
       |     window.location = getURL()+"/radar";
       |  }
       |  function charts(){
       |     window.location = getURL()+"/charts";
       |  }
       |  function settings(){
       |     window.location = getURL()+"/settings";
       |  }
     span.small#response(style='position: absolute; left: 530Px; Top: 15px; font-weight: bold;color: red;')
         | #{response}
     div#wind(style='display: block; height: 700px; background-image: url("/images/compassrose.png"); background-repeat: no-repeat;')
       if (directionObj[0].left > 0 && directionObj[0].top > 0)
         img.compasspointer(src='./images/compasspointer.png' style='left:#{directionObj[0].left}px;top:#{directionObj[0].top}px;transform: rotate(#{directionObj[0].rotation}deg);z-index: 5;')
       - x = 1
       while x < 5
          if (directionObj[x].left > 0 && directionObj[x].top > 0) && !(directionObj[x].left == directionObj[0].left && directionObj[x].top == directionObj[0].top) 
             img.compasspointer(src='./images/compasspointer-sm.png' style='left:#{directionObj[x].left}px;top:#{directionObj[x].top}px;transform: rotate(#{directionObj[x].rotation}deg); z-index: 1;')
          - x++   
       div
         table(cellspacing=0,cellpadding=0,style='width:500px; position: absolute; top: 500px; ')
           tr
             td.big.fontcolor(style='text-align: center;margin-left: 165px;')
                |WIND SPEED
           tr               
             td.bigger.fontcolor(style='text-align: center;margin-left: 150px;')
                |#{speed} #{speedunit} #{directionObj[0].heading}         
           tr               
             td.small.fontcolor(style='text-align: center;margin-left: 150px;')
                |CURRENT
     div.vertical(style='position: absolute;left: 500px;top: 40px;')
     div#conditions(style='position: absolute;left: 530px;top: 0px;width: 440px')
        table(cellpadding=0,cellspacing=0,style='position: absolute;left: 0px;top: #{offset}px;')
          tr
            td.big.fontcolor(height=26)
               |WIND GUST:
            td.big.fontcolor(height=26)
               | #{gustSpeed} #{speedunit} #{gustDirection}
          tr
            td.big.fontcolor(height=26)
               |WIND SPEED:<span style='display: inline-block; width: 23px'></span>
            td.big.fontcolor(height=26)
               | #{avgSpeed} #{speedunit} #{avgDirection}
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |10 minute average
          tr
            td(height=30)
          tr
            td.big.fontcolor(height=26)
              |INSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.big.fontcolor
                    | #{inTemp}&deg<span style='font-size: 18px'>#{tempunit}</span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.big.fontcolor
                    | #{inHum}<span style='font-size: 18px'>%</span>   
          tr
            td.big.fontcolor(height=26)
              |OUTSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.big.fontcolor
                    if (outTempTrend == 0)
                      | #{outTemp}&deg<span style='font-size: 18px'>#{tempunit}</span>
                    else if (outTempTrend) > 0
                      | #{outTemp}&deg<img src='images/warming-sm.png'>
                    else
                      | #{outTemp}&deg<img src='images/cooling-sm.png'>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.big.fontcolor
                    | #{outHum}<span style='font-size: 18px'>%</span>   
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |Temperature, Humidity
          tr
            td(height=30)
          tr
            td.big.fontcolor(height=26)
              |DEWPOINT:
            td.big.fontcolor
              | #{outDewPt}&deg  
          tr
            td.big.fontcolor(height=26)
              |WIND CHILL:
            td.big.fontcolor
              | #{outWindChill}&deg   
          tr
            td.big.fontcolor(height=26)
              |HEAT INDEX:
            td.big.fontcolor
              | #{outHeatIdx}&deg   
          tr
            td.big.fontcolor(height=26)
              |BAROMETER:
            td.big.fontcolor
              | #{inBarometer}#{pressureunit}<span style='font-size: 18px'> (#{inBarometerTrend})</span> 
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |Current Conditions
          tr
            td(height=30)
          if (rainStormStart.length > 0)
             tr
               td.big.fontcolor(height=26)
                 |START:
               td.big.fontcolor
                 | #{rainStormStart}  
             tr
               td.big.fontcolor(height=26)
                 |RATE:
               td.big.fontcolor
                 | #{rainStormRate}#{rainunit}<span style='font-size: 18px'>/hr</span>  
             tr
               td.big.fontcolor(height=26)
                 |TOTAL:
               td.big.fontcolor
                 | #{rainStormAmt}#{rainunit}   
             tr
               td.small.fontcolor(colspan=2,style='text-align: center;')
                 |Rain Storm
          tr
            td(height=30)
     include suntile.jade
     include floatingtiles.jade
     div#buttons
        button.button(onClick='charts()') History
        if (zoominradarimage.length > 0)
             button.button2(onClick='radar()') Radar
             button.button3(onClick='settings()') Settings
        else
             button.button2(onClick='settings()') Settings
             