extends layout
block content
   body(style='background-image: url("/images/sunnybackground.jpg"); background-repeat: no-repeat; background-size: 100%;')
     script(type='text/javascript')
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       |    setInterval("refreshWindBlock();",2500);
       |    setInterval("refreshConditionsBlock();",30000);
       |  }
       |  function refreshWindBlock()
       |  {
       |     $('#wind').load("./livewind");
       |  }
       |  function refreshConditionsBlock()
       |  {
       |     $('#conditions').load("./liveconditions");
       |  }
     div#wind(style='display: block; height: 800px; background-image: url("/images/compassrose.png"); background-repeat: no-repeat; background-size: 500px')
       if (left > 0 && top > 0)
         img.compasspointer(src='./images/compasspointer.png' style='left:#{left}px;top:#{top}px;transform: rotate(#{rotation}deg)')
       div
         table(cellspacing=0,cellpadding=0,style='width:500px; position: absolute; top: 500px; ')
           tr
             td.bigblue(style='text-align: center;margin-left: 165px;')
                |WIND SPEED
           tr               
             td.biggerblack(style='text-align: center;margin-left: 150px;')
                |#{speed} MPH #{heading}         
           tr               
             td.smallblack(style='text-align: center;margin-left: 150px;')
                |CURRENT
     div.vertical(style='position: absolute;left: 500px;top: 40px;')
     div#conditions(style='position: absolute;left: 530px;top: 100px;')
        table(cellpadding=0,cellspacing=0,style='width:360px')
          tr
            td.bigblue(height=26)
               |WIND GUST:
            td.bigblack(height=26)
               | #{gustSpeed} MPH #{gustDirection}
          tr
            td.bigblue(height=26)
               |WIND SPEED:
            td.bigblack(height=26)
               | #{avgSpeed} MPH #{avgDirection}
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |10 minute average
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |INSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    | #{inTemp}&deg<span style='font-size: 18px'>F</span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{inHum}<span style='font-size: 18px'>%</span>   
          tr
            td.bigblue(height=26)
              |OUTSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    if (outTempTrend == 0)
                      | #{outTemp}&deg<span style='font-size: 18px'>F</span>
                    else
                      | #{outTemp}&deg<span style='display: inline-block; width: 11px'></span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{outHum}<span style='font-size: 18px'>%</span>   
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Temperature, Humidity
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |DEWPOINT:
            td.bigblack
              | #{outDewPt}&deg  
          tr
            td.bigblue(height=26)
              |WIND CHILL:
            td.bigblack
              | #{outWindChill}&deg   
          tr
            td.bigblue(height=26)
              |HEAT INDEX:
            td.bigblack
              | #{outHeatIdx}&deg   
          tr
            td.bigblue(height=26)
              |BAROMETER:
            td.bigblack
              | #{inBarometer}" <span style='font-size: 18px'> (#{inBarometerTrend})</span> 
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Current Conditions
          tr
            td(height=30)
        if (outTempTrend > 0)
           div#tempguage(style='position: absolute;left: 224px;top: 146px;')
             img(src='images/warming-sm.png',style='height: 21px;')
        else
           if (outTempTrend < 0)
              div#tempguage(style='position: absolute;left: 224px;top: 146px;')
                img(src='images/cooling-sm.png',style='height: 21px;')
             