extends layout
block content
   - offset = 100
   if (rainStormStart.length > 0)
      - offset = 50
   body(style='background-image: url("/images/sunnybackground.jpg"); background-repeat: no-repeat; background-size: 100%;')
     script(type='text/javascript')
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       |    setInterval("refreshWindBlock();",2500);
       |    setInterval("refreshConditionsBlock();",30000);
       |  }
       |  function refreshWindBlock()
       |  {
       |     $('#wind').load("./livewind");
       |  }
       |  function refreshConditionsBlock()
       |  {
       |     $('#conditions').load("./liveconditions");
       |  }
     div#wind(style='display: block; height: 800px; background-image: url("/images/compassrose.png"); background-repeat: no-repeat; background-size: 500px')
       if (directionObj[0].left > 0 && directionObj[0].top > 0)
         img.compasspointer(src='./images/compasspointer.png' style='left:#{directionObj[0].left}px;top:#{directionObj[0].top}px;transform: rotate(#{directionObj[0].rotation}deg);z-index: 5;')
       - x = 1
       while x < 4
          if (directionObj[x].left > 0 && directionObj[x].top > 0) && !(directionObj[x].left == directionObj[0].left && directionObj[x].top == directionObj[0].top) 
             img.compasspointer(src='./images/compasspointer-sm.png' style='left:#{directionObj[x].left}px;top:#{directionObj[x].top}px;transform: rotate(#{directionObj[x].rotation}deg); z-index: 1;')
          - x++   
       div
         table(cellspacing=0,cellpadding=0,style='width:500px; position: absolute; top: 500px; ')
           tr
             td.bigblue(style='text-align: center;margin-left: 165px;')
                |WIND SPEED
           tr               
             td.biggerblack(style='text-align: center;margin-left: 150px;')
                |#{speed} MPH #{directionObj[0].heading}         
           tr               
             td.smallblack(style='text-align: center;margin-left: 150px;')
                |CURRENT
     div.vertical(style='position: absolute;left: 500px;top: 40px;')
     div#conditions(style='position: absolute;left: 530px;top: 0px;width: 400px')
        table(cellpadding=0,cellspacing=0,style='position: absolute;left: 0px;top: #{offset}px;')
          tr
            td.bigblue(height=26)
               |WIND GUST:
            td.bigblack(height=26)
               | #{gustSpeed} MPH #{gustDirection}
          tr
            td.bigblue(height=26)
               |WIND SPEED:<span style='display: inline-block; width: 23px'></span>
            td.bigblack(height=26)
               | #{avgSpeed} MPH #{avgDirection}
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |10 minute average
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |INSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    | #{inTemp}&deg<span style='font-size: 18px'>F</span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{inHum}<span style='font-size: 18px'>%</span>   
          tr
            td.bigblue(height=26)
              |OUTSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    if (outTempTrend == 0)
                      | #{outTemp}&deg<span style='font-size: 18px'>F</span>
                    else if (outTempTrend) > 0
                      | #{outTemp}&deg<img src='images/warming-sm.png'>
                    else
                      | #{outTemp}&deg<img src='images/cooling-sm.png'>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{outHum}<span style='font-size: 18px'>%</span>   
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Temperature, Humidity
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |DEWPOINT:
            td.bigblack
              | #{outDewPt}&deg  
          tr
            td.bigblue(height=26)
              |WIND CHILL:
            td.bigblack
              | #{outWindChill}&deg   
          tr
            td.bigblue(height=26)
              |HEAT INDEX:
            td.bigblack
              | #{outHeatIdx}&deg   
          tr
            td.bigblue(height=26)
              |BAROMETER:
            td.bigblack
              | #{inBarometer}" <span style='font-size: 18px'> (#{inBarometerTrend})</span> 
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Current Conditions
          tr
            td(height=30)
          if (rainStormStart.length > 0)
             tr
               td.bigblue(height=26)
                 |START:
               td.bigblack
                 | #{rainStormStart}  
             tr
               td.bigblue(height=26)
                 |RATE:
               td.bigblack
                 | #{rainStormRate}"<span style='font-size: 18px'>/hr</span>  
             tr
               td.bigblue(height=26)
                 |TOTAL:
               td.bigblack
                 | #{rainStormAmt}"   
             tr
               td.smallblack(colspan=2,style='text-align: center;')
                 |Rain Storm
          tr
            td(height=30)
