div#floatingtiles
   div.floatingmoontile(style='	background: black url("/images/moon#{moonsize}.gif") no-repeat center 40px;background-size: 50%;')
        table(cellspacing = 0,cellpadding=0, style='width: 150px')
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smallerbold.fontcolorwhite
                |Moon Phase
          tr
           td(height=100)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorwhite
                if (moonsize == 0)
                   |New Moon
                else if (moonsize == 1)
                   |Waxing Crescent
                else if (moonsize == 2)
                   |First Quarter
                else if (moonsize == 3)
                   |Waxing Gibbous
                else if (moonsize == 4)
                   |Full Moon
                else if (moonsize == 5)
                   |Waning Gibbous
                else if (moonsize == 6)
                   |Third Quarter
                else if (moonsize == 7)
                   |Waning Crescent
                else
                   |New Moon
       - condition = skyconditions[0].skyconditions
       - weather = ''
       - hoursout = ["Current Weather","24hr Forecast","48hr Forecast","72hr Forecast"]
       if condition < 5
          - style = 'background: url("/images/DayIcons/skyconditions'+condition+'.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #ffffff;'
       else
          - style = 'background: url("/images/DayIcons/skyconditions'+condition+'.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #b3b3b3;'
       each x in [0,1,2,3]
          - weather = skyconditions[x].weather
          - condition = skyconditions[x].skyconditions
          if x > 0
             if condition < 5
                - style = 'display: none; background: url("/images/DayIcons/skyconditions'+condition+'.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #ffffff;'
             else
                - style = 'display: none; background: url("/images/DayIcons/skyconditions'+condition+'.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #b3b3b3;'
          |<div class=floatingweathertile#{x} style='#{style}' onclick='nextWeatherTile()'>
          table(cellspacing = 0,cellpadding=0, style='width: 150px')
             tr
              td(height=6)
             tr
              td(style='text-align: center')
                span.smallerbold.fontcolorblack
                   |#{hoursout[x]}
             tr
              td(height=100)
             tr
              td(style='text-align: center')
                span.smaller.fontcolorblack
                   |#{weather}
          |</div>
