extends layout
block append content
        - speedunit = "MPH"
        - tempunit = "F"
        - pressureunit = '"'
        - rainunit = '"'
        if (observationUnits.metricSpeed)
           - speedunit = "km/h"
        if (observationUnits.metricTemp)
           - tempunit = "C"
        if (observationUnits.metricPressure)
           - pressureunit = "mb"
        if (observationUnits.metricRain)
           - rainunit = "mm"
        - offset = 100
        if (rainStormStart.length > 0)
           - offset = 50
        table(cellpadding=0,cellspacing=0,style='position: absolute;left: 0px;top: #{offset}px;')
          tr
            td.big.fontcolor(height=26)
               |WIND GUST:
            td.big.fontcolor(height=26)
               | #{gustSpeed} #{speedunit} #{gustDirection}
          tr
            td.big.fontcolor(height=26)
               |WIND SPEED:<span style='display: inline-block; width: 23px'></span>
            td.big.fontcolor(height=26)
               | #{avgSpeed} #{speedunit} #{avgDirection}
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |10 minute average
          tr
            td(height=30)
          tr
            td.big.fontcolor(height=26)
              |INSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.big.fontcolor
                    | #{inTemp}&deg<span style='font-size: 18px'>#{tempunit}</span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.big.fontcolor
                    | #{inHum}<span style='font-size: 18px'>%</span>   
          tr
            td.big.fontcolor(height=26)
              |OUTSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.big.fontcolor
                    if (outTempTrend == 0)
                      | #{outTemp}&deg<span style='font-size: 18px'>#{tempunit}</span>
                    else if (outTempTrend) > 0
                      | #{outTemp}&deg<img src='images/warming-sm.png'>
                    else
                      | #{outTemp}&deg<img src='images/cooling-sm.png'>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.big.fontcolor
                    | #{outHum}<span style='font-size: 18px'>%</span>   
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |Temperature, Humidity
          tr
            td(height=30)
          tr
            td.big.fontcolor(height=26)
              |DEWPOINT:
            td.big.fontcolor
              | #{outDewPt}&deg  
          tr
            td.big.fontcolor(height=26)
              |WIND CHILL:
            td.big.fontcolor
              | #{outWindChill}&deg   
          tr
            td.big.fontcolor(height=26)
              |HEAT INDEX:
            td.big.fontcolor
              | #{outHeatIdx}&deg   
          tr
            td.big.fontcolor(height=26)
              |BAROMETER:
            td.big.fontcolor
              | #{inBarometer}#{pressureunit}<span style='font-size: 18px'> (#{inBarometerTrend})</span> 
          tr
            td.small.fontcolor(colspan=2,style='text-align: center;')
               |Current Conditions
          tr
            td(height=30)
          if (rainStormStart.length > 0)
             tr
               td.big.fontcolor(height=26)
                 |START:
               td.big.fontcolor
                 | #{rainStormStart}  
             tr
               td.big.fontcolor(height=26)
                 |RATE:
               td.big.fontcolor
                 | #{rainStormRate}#{rainunit}<span style='font-size: 18px'>/hr</span>  
             tr
               td.big.fontcolor(height=26)
                 |TOTAL:
               td.big.fontcolor
                 | #{rainStormAmt}#{rainunit}   
             tr
               td.small.fontcolor(colspan=2,style='text-align: center;')
                 |Rain Storm
          tr
            td(height=30)
