extends layout
block content
        table(cellpadding=0,cellspacing=0,style='width:360px')
          tr
            td.bigblue(height=26)
               |WIND GUST:
            td.bigblack(height=26)
               | #{gustSpeed} MPH #{gustDirection}
          tr
            td.bigblue(height=26)
               |WIND SPEED:
            td.bigblack(height=26)
               | #{avgSpeed} MPH #{avgDirection}
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |10 minute average
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |INSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    | #{inTemp}&deg<span style='font-size: 18px'>F</span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{inHum}<span style='font-size: 18px'>%</span>   
          tr
            td.bigblue(height=26)
              |OUTSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    if (outTempTrend == 0)
                      | #{outTemp}&deg<span style='font-size: 18px'>F</span>
                    else
                      | #{outTemp}&deg<span style='display: inline-block; width: 11px'></span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{outHum}<span style='font-size: 18px'>%</span>   
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Temperature, Humidity
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |DEWPOINT:
            td.bigblack
              | #{outDewPt}&deg  
          tr
            td.bigblue(height=26)
              |WIND CHILL:
            td.bigblack
              | #{outWindChill}&deg   
          tr
            td.bigblue(height=26)
              |HEAT INDEX:
            td.bigblack
              | #{outHeatIdx}&deg   
          tr
            td.bigblue(height=26)
              |BAROMETER:
            td.bigblack
              | #{inBarometer}" <span style='font-size: 18px'> (#{inBarometerTrend})</span> 
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Current Conditions
          tr
            td(height=30)
        if (outTempTrend > 0)
           div#tempguage(style='position: absolute;left: 224px;top: 146px;')
             img(src='images/warming-sm.png',style='height: 21px;')
        else
           if (outTempTrend < 0)
              div#tempguage(style='position: absolute;left: 224px;top: 146px;')
                img(src='images/cooling-sm.png',style='height: 21px;')
