extends layout
block content
        - offset = 100
        if (rainStormStart.length > 0)
           - offset = 50
        table(cellpadding=0,cellspacing=0,style='position: absolute;left: 0px;top: #{offset}px;')
          tr
            td.bigblue(height=26)
               |WIND GUST:
            td.bigblack(height=26)
               | #{gustSpeed} MPH #{gustDirection}
          tr
            td.bigblue(height=26)
               |WIND SPEED:<span style='display: inline-block; width: 23px'></span>
            td.bigblack(height=26)
               | #{avgSpeed} MPH #{avgDirection}
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |10 minute average
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |INSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    | #{inTemp}&deg<span style='font-size: 18px'>F</span>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{inHum}<span style='font-size: 18px'>%</span>   
          tr
            td.bigblue(height=26)
              |OUTSIDE:
            td
              table(cellspacing=0,cellpadding=0)
                tr
                  td.bigblack
                    if (outTempTrend == 0)
                      | #{outTemp}&deg<span style='font-size: 18px'>F</span>
                    else if (outTempTrend) > 0
                      | #{outTemp}&deg<img src='images/warming-sm.png'>
                    else
                      | #{outTemp}&deg<img src='images/cooling-sm.png'>
                  td
                    |<span style='display: inline-block; width: 20px'></span>
                  td.bigblack
                    | #{outHum}<span style='font-size: 18px'>%</span>   
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Temperature, Humidity
          tr
            td(height=30)
          tr
            td.bigblue(height=26)
              |DEWPOINT:
            td.bigblack
              | #{outDewPt}&deg  
          tr
            td.bigblue(height=26)
              |WIND CHILL:
            td.bigblack
              | #{outWindChill}&deg   
          tr
            td.bigblue(height=26)
              |HEAT INDEX:
            td.bigblack
              | #{outHeatIdx}&deg   
          tr
            td.bigblue(height=26)
              |BAROMETER:
            td.bigblack
              | #{inBarometer}" <span style='font-size: 18px'> (#{inBarometerTrend})</span> 
          tr
            td.smallblack(colspan=2,style='text-align: center;')
               |Current Conditions
          tr
            td(height=30)
          if (rainStormStart.length > 0)
             tr
               td.bigblue(height=26)
                 |START:
               td.bigblack
                 | #{rainStormStart}  
             tr
               td.bigblue(height=26)
                 |RATE:
               td.bigblack
                 | #{rainStormRate}"<span style='font-size: 18px'>/hr</span>  
             tr
               td.bigblue(height=26)
                 |TOTAL:
               td.bigblack
                 | #{rainStormAmt}"   
             tr
               td.smallblack(colspan=2,style='text-align: center;')
                 |Rain Storm
          tr
            td(height=30)
