extends layout
block append content
   body()
     script(type='text/javascript')
       |  zoom = 0;
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       |    setInterval("refreshRadar();",60*1000);
       |    setInterval("refreshTiles();",30*1000);
       if((skyconditions > 4 && day) || (day && rainStormRate > 0))
          |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if((skyconditions > 4 && !day) || (!day && rainStormRate > 0))
          |$('body').css('background', 'url("/images/cloudynightbackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(day)
          |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#000000');
       else
          |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       |  }
       |  function refreshTiles()
       |  {
       |     $('#floatingtiles').load("./tileconditions");
       |  }
       |  function refreshRadar()
       |  {
       |     $('#radarblock').load("./radarrefresh");
       |  }
       |  function getURL(){
       |     var url = location.href;
       |     var idx = url.indexOf('?')
       |     if (idx !== -1)
       |        url = url.substring(0,idx);
       |     idx = url.lastIndexOf('/');
       |     url = url.substring(0,idx);
       |     return url;
       |  }
       |  function conditions(){
       |     window.location = getURL()+"/";
       |  }
       |  function charts(){
       |     window.location = getURL()+"/charts";
       |  }
       |  function uparrowclicked(){
       |     $(".uparrow").attr('src','/images/UpArrowTransparent.png');
       |     $(".downarrow").attr('src','/images/DownArrowTransparent.png');
       |     $(".radartile").css('background-image', 'url("#{zoominradarimage}")')
       |     zoom = 0;
       |  }
       |  function downarrowclicked(){
       |     $(".uparrow").attr('src','/images/UpArrowTransparent.png');
       |     $(".downarrow").attr('src','/images/DownArrowTransparent.png');
       |     $(".radartile").css('background-image', 'url("#{zoomoutradarimage}")')
       |     zoom = 1;
       |  }
     div#radarblock(style='display: block; height: 700px;')
        table(cellspacing=0,cellpadding=0,style='width: 85%')
          tr
            td(width="650px",height=550)
             div.radartile(style='display: block; left: 20px; top: 20px; background-image: url("#{zoominradarimage}");')
             img.uparrow(src='/images/UpArrowTransparent.png', onclick='uparrowclicked()')
             img.downarrow(src='/images/DownArrowTransparent.png', onclick='downarrowclicked()')
            td(style='text-align: center')
             img(src='/images/weathersitelogo.png')
     div#floatingtiles
       div.floatingsuntile
        table(cellspacing = 0,cellpadding=0, style='width: 150px')
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smallerbold.fontcolorblack
                |Sunrise/Sunset
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorblack
                |#{moment(sunrise).format('h:mm a')} 
          tr
           td(height=70)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorblack
                |#{moment(sunset).format('h:mm a')}
       div.floatingmoontile(style='	background: black url("/images/moon#{moonsize}.gif") no-repeat center 40px;background-size: 50%;')
        table(cellspacing = 0,cellpadding=0, style='width: 150px')
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smallerbold.fontcolorwhite
                |Moon Phase
          tr
           td(height=100)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorwhite
                if (moonsize == 0)
                   |New Moon
                else if (moonsize == 1)
                   |Waxing Crescent
                else if (moonsize == 2)
                   |First Quarter
                else if (moonsize == 3)
                   |Waxing Gibbous
                else if (moonsize == 4)
                   |Full Moon
                else if (moonsize == 5)
                   |Waning Gibbous
                else if (moonsize == 6)
                   |Third Quarter
                else if (moonsize == 7)
                   |Waning Crescent
                else
                   |New Moon
       if (skyconditions < 5)
          div.floatingweathertile(style='background: url("/images/DayIcons/skyconditions#{skyconditions}.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #ffffff;')
           table(cellspacing = 0,cellpadding=0, style='width: 150px')
             tr
              td(height=6)
             tr
              td(style='text-align: center')
                span.smallerbold.fontcolorblack
                   |Current Weather
             tr
              td(height=100)
             tr
              td(style='text-align: center')
                span.smaller.fontcolorblack
                   if (skyconditions == 1)
                      |Clear
                   else if (skyconditions == 2)
                      |Mostly Clear
                   else if (skyconditions == 3)
                      |Partly Cloudy
                   else if (skyconditions == 4)
                      |Mostly Cloudy
       else
          div.floatingweathertile(style='background: url("/images/DayIcons/skyconditions#{skyconditions}.png") no-repeat center 35px;background-size: 100%;border: 3px Solid black;background-color: #b3b3b3;')
           table(cellspacing = 0,cellpadding=0, style='width: 150px')
             tr
              td(height=6)
             tr
              td(style='text-align: center')
                span.smallerbold.fontcolorblack
                   |Current Weather
             tr
              td(height=100)
             tr
              td(style='text-align: center')
                span.smaller.fontcolorblack
                   if (skyconditions == 5)
                      |Overcast
                   else if (skyconditions == 6)
                      |Raining
                   else if (skyconditions == 7)
                      |Snowing
                   else if (skyconditions == 8)
                      |Thunder Storms
     if (zoominradarimage.length > 0)
        div#buttons
           button.button(onClick='conditions()') Conditions
           button.button2(onClick='charts()') history           