extends layout
block append content
   script(type='text/javascript')
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       |  setTimeout(function(){$('#response').hide();}, 3*1000);
       if(((skyconditions[0].skyconditions > 4 && day) || (day && rainStormRate > 0)) && changebackgroundto != 1)
          |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(((skyconditions[0].skyconditions > 4 && !day) || (!day && rainStormRate > 0)) && changebackgroundto != 2)
          |$('body').css('background', 'url("/images/cloudynightbackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(day && changebackgroundto != 3)
          |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#000000');
       else if (changebackgroundto != 4)
          |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       |  }
       |  function getURL(){
       |     var url = location.href;
       |     var idx = url.indexOf('?')
       |     if (idx !== -1)
       |        url = url.substring(0,idx);
       |     idx = url.lastIndexOf('/');
       |     url = url.substring(0,idx);
       |     return url;
       |  }
   script.
      var validLatitude = true;
      var validLongitude = true;
      function validateLatitude(){
        var x = $('#myLatitude').val();
        x = x.trim();
       
        if(!$.isNumeric(x) || parseFloat(x) < -90 || parseFloat(x) > 90){
          $('#lattext').hide();
          $('#laterror').show();
          validLatitude = false;
        }
        else{
          $('#laterror').hide();
          $('#lattext').show();
          validLatitude = true;
        }
      }
      function validateLongitude(){
        var x = $('#myLongitude').val();
        x = x.trim();
       
        if(!$.isNumeric(x) || parseFloat(x) < -180 || parseFloat(x) > 180){
          $('#longtext').hide();
          $('#longerror').show();
          validLongitude = false;
        }
        else{
          $('#longerror').hide();
          $('#longtext').show();
          validLongitude = true;
        }
      }
      function submitForm(){
        if (validLatitude && validLongitude)
           $('#editform').submit()
        else{
           $('#response').text('Please correct your errors')
           $('#response').show();
           setTimeout(function(){$('#response').hide();}, 3*1000);        }
      }
   body()
        table
          tr
            td(style='text-align: center')
              img(src='/images/weathersitelogo.png')
              span.smaller(style = 'position: relative; left: -80px; top: -100px; color: #27485d;')
                |v#{weatherSiteVersion}
            td
              span.bigger.fontcolor
                |Weathersite Settings	  
        span.small#response(style='position: absolute; left: 185px; Top: 250px; font-weight: bold;color: red;')
           | #{response}
        form#editform(method="POST" , action="/dosettings")
          input(type='hidden', name='returnurl', value='/')
          table
            tr
              td(height="40px")
                 span.smaller.fontcolor(style='font-weight: bold;')
                    |General Settings
            tr
              td(width='165px')
                 span.smaller.fontcolor 
                    | My Latitude
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myLatitude(type='text', size=20, name='myLatitude', value='#{myLatitude}',onClick='$(this).select()',onChange='validateLatitude()')
              td 
                 span(style="display:block; width: 20px")
              td 
                 span#lattext.smaller.fontcolor 
                    | example: 84.532 (negative for south latitude)
                 span#laterror.smaller(style='color:red;font-weight:bold;display:none')
                    | Error: A numeric value between -90 and 90 is required here
            tr
              td 
                 span.smaller.fontcolor 
                    | My Longitude
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myLongitude(type='text', size=20, name='myLongitude', value='#{myLongitude}',onClick='$(this).select()',onChange='validateLongitude()')
              td 
                 span(style="display:block; width: 20px")
              td 
                 span#longtext.smaller.fontcolor 
                    | example: -87.234 (negative for west Longitude)
                 span#longerror.smaller(style='color:red;font-weight:bold;display:none')
                    | Error: A numeric value between -180 and 180 is required here
            tr
              td 
                 span.smaller.fontcolor 
                    | Settings Subnet
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#mySettingsCIDR(type='text', size=20, name='mySettingsCIDR', value='#{mySettingsCIDR}',onClick='$(this).select()')
              td 
                 span(style="display:block; width: 20px")
              td 
                 span.smaller.fontcolor 
                    | Leave blank for no restrictions or enter in CIDR notation (example: 10.0.0.0/8)
          table
            tr
              td(width='165px')
                 span.smaller.fontcolor 
                    | WLL IP Address
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myWLLIp(type='text', size=20, name='myWLLIp', value='#{myWLLIp}',onClick='$(this).select()')
            tr
              td 
                 span.smaller.fontcolor 
                    | METAR FTP Site
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myMetarFtpSite(type='text', size=20, name='myMetarFtpSite', value='#{myMetarFtpSite}',onClick='$(this).select()')
            tr
              td 
                 span.smaller.fontcolor 
                    | METAR File Path
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myMetarFilePath(type='text', size=40, name='myMetarFilePath', value='#{myMetarFilePath}',onClick='$(this).select()')
            tr
              td 
                 span.smaller.fontcolor 
                    | Zoomed-in Radar Path
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myRadarZoominPath(type='text', size=150, name='myRadarZoominPath', value='#{myRadarZoominPath}',onClick='$(this).select()')
            tr
              td 
                 span.smaller.fontcolor 
                    | Zoomed-out Radar Path
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myRadarZoomoutPath(type='text', size=150, name='myRadarZoomoutPath', value='#{myRadarZoomoutPath}',onClick='$(this).select()')
            tr
              td 
                 span.smaller.fontcolor 
                    | Climacell API Key
              td 
                 span(style="display:block; width: 20px")
              td 
                 input#myClimacellApiKey(type='text', size=35, name='myClimacellApiKey', value='#{myClimacellApiKey}',onClick='$(this).select()')
                 
          table
            tr
              td(height="40px")
                 span.smaller.fontcolor(style='font-weight: bold;')
                    |Observation Units
            tr
              td(width="180px")
                span.smaller.fontcolor
                   |Temperature
              td
                if (metricTemp)
                    input#fahrenheit(type='radio', name='metricTemp', value='0')
                else
                    input#fahrenheit(type='radio', name='metricTemp', checked=true, value='0')
              td
                label(for="fahrenheit")
                   span.smaller.fontcolor
                     |Fahrenheit
              td                    
                if (metricTemp)
                    input#celcius(type="radio",name="metricTemp",checked=true,value='1')
                else
                    input#celcius(type="radio",name="metricTemp",value='1')
              td
                label(for="celcius")
                   span.smaller.fontcolor
                    |Celcius
            tr
              td
                span.smaller.fontcolor
                   |Wind
              td
                if (metricSpeed)                    
                    input#celcius(type="radio",name="metricSpeed",value='0')
                else
                    input#celcius(type="radio",name="metricSpeed",checked=true,value='0')
              td
                label(for='mph')
                   span.smaller.fontcolor
                      |MPH
              td
                if (metricSpeed)
                   input#kmhr(type='radio', name='metricSpeed', checked=true, value='1')
                else
                   input#kmhr(type='radio', name='metricSpeed', value='1')
              td
                label(for='kmhr')
                   span.smaller.fontcolor
                      |KM/H
            tr
              td
                span.smaller.fontcolor
                   |Pressure
              td
                if(metricPressure)                    
                   input#inches(type='radio', name='metricPressure', value='0')
                else
                   input#inches(type='radio', name='metricPressure', checked=true, value='0')
              td
                label(for='inches')
                   span.smaller.fontcolor
                      |Inches
              td
                if (metricPressure)
                    input#mb(type='radio', name='metricPressure', checked=true, value='1')
                else                    
                    input#mb(type='radio', name='metricPressure', value='1')
              td
                label(for='mb')
                   span.smaller.fontcolor
                      |Millibars
            tr
              td
                span.smaller.fontcolor
                   |Rainfall
              td    
                if (metricRain)                
                   input#rinches(type='radio', name='metricRain', value='0')
                else
                   input#rinches(type='radio', name='metricRain', checked=true, value='0')
              td
                label(for='rinches')
                   span.smaller.fontcolor
                      |Inches
              td
                if (metricRain)
                   input#mm(type='radio', name='metricRain', checked=true, value='1')
                else
                   input#mm(type='radio', name='metricRain', value='1')
              td
                label(for='mm')
                   span.smaller.fontcolor
                      |Millimeters
                
             

          table                       
            tr
              td
                span(style="display:block; width: 80px")
              td   
                p: button.genericbutton(type="button", onclick='submitForm()') Update
              td      
              td 
                p: button.genericbutton(type="button", onclick="window.location = getURL()+'/settings?response=Changes Discarded'") Discard
              td      
              td 
                p: button.genericbutton(type="button", onclick="window.location = getURL()+'/'") Exit
