script.
  function timetoggle(){
     if (timeactive == 1){
       timeactive = 0;
       $('.floatingsuntile').show();
       $('.floatingtimetile').hide();
     }
     else{
       timeactive = 1;
       clearTimeout(handle);
       $('.floatingsuntile').hide();
       $('.floatingtimetile').show();
       handle = setTimeout(function(){
          timeactive = 0;
          $('.floatingsuntile').show();
          $('.floatingtimetile').hide();
          },60*1000)
       }
  }

div#suntile
   div.floatingsuntile(onClick='timetoggle()')
        table(cellspacing = 0,cellpadding=0, style='width: 150px')
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smallerbold.fontcolorblack
                |Sunrise/Sunset
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorblack
                |#{moment(sunrise).format('h:mm a')} 
          tr
           td(height=70)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorblack
                |#{moment(sunset).format('h:mm a')}
   div.floatingtimetile(style = 'display: none;' onClick='timetoggle()')
        table(cellspacing = 0,cellpadding=0, style='width: 150px')
          tr
           td(height=6)
          tr
           td(style='text-align: center')
             span.smallerbold.fontcolorblack
                |#{moment(new Date()).format('MMM Do, YYYY')}
          tr
           td(height=35)
          tr
           td(style='text-align: center')
             span.bigger.fontcolorblack
                |#{moment(new Date()).format('h:mm:ss')}
          tr
           td(height=25)
          tr
           td(style='text-align: center')
             span.smaller.fontcolorblack
                |#{moment(new Date()).format('dddd')}
